@keyframes spalvos{
    0% {background-color: firebrick}
    25% {background-color: gray}
    50% {background-color: moccasin}
    75% {background-color: aquamarine}
    100% {background-color: firebrick}
}
body {
    animation-name:spalvos;
    animation-duration: 2s;
    animation-iteration-count: 999;
}