body {
    background-color: whitesmoke;
}
#grid{
    display:grid;
    grid-template-areas:
    'A A A'
    'B C D'
    'E E E'
    ;
}
.grid_item_1{
    grid-area: A;
    background-color:palegreen;
}
.grid_item_2{
    grid-area: B;
    background-color: cornflowerblue;
}
.grid_item_3{
    grid-area: C;
    background-color: darkgrey;
}
.grid_item_4{
    grid-area: D;
    background-color: dimgray;
}
.grid_item_5{
    grid-area: E;
    background-color: palegoldenrod;
}
