body {
    background-color: darkgrey;
}
#grid{
    display:grid;
    grid-template-areas:
    'icon Top admin'
    'skills main work'
    'E E E';
    grid-template-columns: 250px auto 250px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.gridItem1{
    grid-area: icon;
}
.gridItem2 {
    grid-area: Top;
    justify-content:center;
    align-items:center;
    padding-top: 50px;
}
.gridItem3 {
    grid-area: admin;
    text-align:center;
    margin: 35px 50px 50px 50px;
}
.griditem4{
    grid-area: skills;
}
.griditem5{
    grid-area: main;
    font-size: 10px;
}
.griditem6 img{
    width: 50px;
    height: 50px;
}
.griditem7{
    grid-area: E;
}

.skills {
    padding: 0 0 0 5px;
    font-size: 10px;
}
.skill {
    padding-bottom: 3px;
}
.skillProgress {
    width: 100%;
    height: 10px;
    background-color: antiquewhite;
}